{% extends 'layoutProfil.html.twig' %}

{% block title %}
    {{ club.nom }}
{% endblock %}

{% block nom %}
    <div class="container" style="transform: translateY(25px);">
        <div class="row">
            <h1 class="col-sm-6 offset-sm-3 text-center text-white">{{ club.nom }}</h1>
        </div>
        <div class="row justify-content-center">
            {% if  club.bde %}
                <span class="badge badge-primary mr-1">BDE</span>
            {% endif %}

            {% if  club.bds %}
                <span class="badge badge-warning mr-1">BDS</span>
            {% endif %}

            {% if  club.bda %}
                <span class="badge badge-info">BDA</span>
            {% endif %}
        </div>
        <div class="row justify-content-center mt-2 pb-2">
            <div class="d-block">
                {% if app.user %}
                    {% include 'Club/suivreButton.html.twig' %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{%  block content %}
    <div class="row">
        <div class="col-md-4 md-3">
            <div class="card">
                <div class="card-body">
                    <h2><span class="fas fa-info-circle"></span>  {{ club.nom }} : </h2>

                    {% if club.mail %}<p><strong>Mail : </strong><a href="mailto:{{ club.mail }}">{{ club.mail }}</a></p>{%  endif %}
                    <h5>Bureau</h5>
                    <p><strong>{{ "page.president"|trans }} : </strong>
                        <a href="{{ path("app.user",{'id':club.bureau.president.id}) }}" title="Voir la page">
                            {{ club.bureau.president.prenom }} {{ club.bureau.president.nom }}
                        </a></p>
                    {% if  club.bureau.viceprezint %}
                        <p><strong>{{ "page.viceprezint"|trans }} : </strong>
                            <a href="{{ path("app.user",{'id':club.bureau.viceprezint.id}) }}" title="Voir la page">
                                {{ club.bureau.viceprezint.prenom }} {{ club.bureau.viceprezint.nom }}
                            </a></p>
                    {% endif %}
                    {% if  club.bureau.viceprezext %}
                        <p><strong>{{ "page.viceprezext"|trans }} : </strong>
                            <a href="{{ path("app.user",{'id':club.bureau.viceprezext.id}) }}" title="Voir la page">
                                {{ club.bureau.viceprezext.prenom }} {{ club.bureau.viceprezext.nom }}
                            </a></p>
                    {% endif %}
                    {% if  club.bureau.secgen %}
                        <p><strong>{{ "page.secgen"|trans }} : </strong>
                            <a href="{{ path("app.user",{'id':club.bureau.secgen.id}) }}" title="Voir la page">
                                {{ club.bureau.secgen.prenom }} {{ club.bureau.secgen.nom }}
                            </a></p>
                    {% endif %}
                    {% if  club.bureau.tresorier %}
                        <p><strong>{{ "page.trez"|trans }} : </strong>
                            <a href="{{ path("app.user",{'id':club.bureau.tresorier.id}) }}" title="Voir la page">
                                {{ club.bureau.tresorier.prenom }} {{ club.bureau.tresorier.nom }}
                            </a></p>
                    {% endif %}
                </div>
            </div>

        </div>

        <div class="col-md-8 mt-3 container-fluid mb-5">
            {% if not club.confidentialite %}
            <div class="row pl-2">
                <h2 class="col-12">{{ "page.description"|trans }}</h2>

                <p class="col-12 ml-2 mr-2 lead text-justify">{{ club.description }}</p>
                <hr class="col-10">
            </div>

                <div class="row pl-2 ">
                    <h2 class="col-12">{{ "page.membre"|trans }}
                        <span class="badge badge-secondary membres" style="font-size: medium;">{{ nb }}</span>
                    </h2>
                    <div class="contentCard col-12 row">
                    {% if app.user %}
                        {% for membres in club.membres %}
                            {% if membres.eleve.id != app.user.id %}
                                    <div class="col-md-6 col-lg-4 mt-2" data-delete="{{ membres.eleve.id }}">
                                        <div class="card">
                                            <div class="card-body">{% if is_granted('EDIT',club) %}
                                                    <button type="button" class="close" aria-label="Close" data-user="{{ membres.eleve.id }}">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                {% endif %}
                                                <h5 class="card-title">{{ membres.eleve.prenom }} {{ membres.eleve.nom }}</h5>

                                                <h6 class="card-subtitle mb-2 text-muted">{{ membres.relation }}</h6>
                                                <a href="{{ path('app.user',{'id':membres.eleve.id}) }}" class="card-link">Voir le profil</a>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="col-md-6 col-lg-4 mt-2 usercard">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ membres.eleve.prenom }} {{ membres.eleve.nom }}</h5>
                                                <h6 class="card-subtitle mb-2 text-muted">{{ membres.relation }}</h6>
                                                <a href="{{ path('app.user',{'id':membres.eleve.id}) }}" class="card-link">Voir le profil</a>
                                            </div>
                                        </div>
                                    </div>
                            {% endif %}
                        {% endfor %}
                        {% else %}
                            {% for membres in club.membres %}
                                    <div class="col-md-6 col-lg-4 mt-2" data-delete="{{ membres.eleve.id }}">
                                        <div class="card">
                                            <div class="card-body">
                                                {% if is_granted('EDIT',club) %}
                                                    <button type="button" class="close" aria-label="Close" data-user="{{ membres.eleve.id }}">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                {% endif %}
                                                <h5 class="card-title">{{ membres.eleve.prenom }} {{ membres.eleve.nom }}</h5>

                                                <h6 class="card-subtitle mb-2 text-muted">{{ membres.relation }}</h6>
                                                <a href="{{ path('app.user',{'id':membres.eleve.id}) }}" class="card-link">Voir le profil</a>
                                            </div>
                                        </div>
                                    </div>
                            {% endfor %}
                    {% endif %}
                    </div>
                </div>
                {% else %}
                <div class="col-md-12 card text-center align-content-center bg-secondary text-white pt-5 pb-5 lead">
                    {{ "page.confidentielle"|trans }}.
                </div>
            {% endif %}

        </div>


    </div>




{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        {% if app.user %}
        $(document).ready(function () {
            const suivre = $("#suivreclub");
            const nb = $(".membres");
            const user = $(".usercard");
            const text = "<div class=\"col-md-6 col-lg-4 mt-2 usercard\">\n" +
                "                                        <div class=\"card\">\n" +
                "                                            <div class=\"card-body\">\n" +
                "                                                <h5 class=\"card-title\">{{ app.user.prenom }} {{ app.user.nom }}</h5>\n" +
                "                                                <h6 class=\"card-subtitle mb-2 text-muted\">Membre</h6>\n" +
                "                                                <a href=\"{{ path('app.user',{'id':app.user.id}) }}\" class=\"card-link\">Voir le profil</a>\n" +
                "                                            </div>\n" +
                "                                        </div>\n" +
                "                                    </div>";

            let suivi =0;
            function submit(){
                $.ajax("{{ path('app.clubAjax.submit',{'id':club.id}) }}",
                    {
                        success : function (data) {
                            data = $.parseJSON(data);
                            if(data.suivi===2){
                                suivi=data.suivi;
                                suivre.html("{{ 'common.actions.unfollow'|trans }}");
                                suivre.addClass("btn-danger");
                                suivre.removeClass("btn-primary");
                                suivre.removeClass("btn-secondary");
                                $(".contentCard").prepend(text);
                            }else if(data.suivi===1){
                                suivi=data.suivi;
                                suivre.html("{{ 'common.actions.asked'|trans }}");
                                suivre.removeClass("btn-danger");
                                suivre.removeClass("btn-primary");
                                suivre.addClass("btn-secondary");
                            }else{
                                suivi=0;
                                suivre.html("{{ 'common.actions.follow'|trans }}");
                                suivre.removeClass("btn-danger");
                                suivre.removeClass("btn-secondary");
                                suivre.addClass("btn-primary");
                                $(".usercard").remove();
                            }
                            nb.html(data.nb);
                        },
                        error : function (data) {

                        }
                    });
            };

            $.ajax("{{ path("app.clubAjax.getsubmit",{"id":club.id}) }}",
                {
                    success : function (data) {
                        data = $.parseJSON(data);
                        if (data.suivi === 2) {
                            suivi=data.suivi;
                            suivre.html("{{ 'common.actions.unfollow'|trans }}");
                            suivre.addClass("btn-danger");
                            suivre.removeClass("btn-primary");
                            suivre.removeClass("btn-secondary");

                        } else if (data.suivi === 1) {
                            suivi=data.suivi;
                            suivre.html("{{ 'common.actions.asked'|trans }}");
                            suivre.removeClass("btn-danger");
                            suivre.removeClass("btn-primary");
                            suivre.addClass("btn-secondary");
                        } else {
                            suivi=0;
                            suivre.html("{{ 'common.actions.follow'|trans }}");
                            suivre.removeClass("btn-danger");
                            suivre.removeClass("btn-secondary");
                            suivre.addClass("btn-primary");


                        }
                    }
                });
            const modal=$(".modal");
            const closemodal=$('.closemodal');
            const savemodal=$('.save');



            suivre.on("click",function () {
                if (suivi!==2){
                    submit();
                }else{
                    closemodal.off();
                    savemodal.off();
                    $(".modal-title").html("{{ "action.desabonner"|trans }}");
                    $('.modal-body').html("{{ "action.desabotext"|trans }}");

                    closemodal.html("{{ "action.cancel"|trans }}");
                    savemodal.html("{{ "action.desabonner"|trans }}");
                    modal.modal("show");
                    closemodal.on('click',function () {
                        modal.modal('hide');
                    });

                    savemodal.on("click",function () {
                        modal.modal('hide');
                        submit();
                    });

                }

            });

            {% if is_granted('EDIT',club) %}
            const close = $(".close");

            function deleteuser(id){
                let url = "{{ path("app.club.ajaxdelete",{'id':club.id,'iduser':'id'}) }}";
                url=url.replace('id',id);
                $.ajax(url,
                    {
                        success : function (data) {
                            data = $.parseJSON(data);
                            switch(data.reponse){
                                case "SUCCES":
                                    var name='[data-delete="'+id+'"]' ;
                                    $(name).remove();
                                    $(".membres").html(data.nb);
                                    break;
                                case "ERROR":
                                    break;
                                case "PREZ":
                                    break;
                            }
                        }
                    });
            }

            close.on('click',function (event) {
                closemodal.off();
                savemodal.off();
                $(".modal-title").html("{{ "action.delete"|trans }}");
                $('.modal-body').html("{{ "action.deletetext"|trans }}");
                var id=$(this).data("user");
                closemodal.html("{{ "action.cancel"|trans }}");
                savemodal.html("{{ "action.delete"|trans }}");
                modal.modal("show");
                closemodal.on('click',function () {
                    modal.modal('hide');
                });

                savemodal.on("click",function () {
                    deleteuser(id);
                    modal.modal('hide');
                });
            });
            {% endif %}

        });
        {% endif %}
    </script>
{% endblock %}