<nav class="navbar navbar-expand-lg navbar-light blue-background">
    <a class="navbar-brand" href="#">{{ 'common.directory'|trans }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav w-100">
            <li class="nav-item">
                <a class="nav-link" href="#Eleves">{{ 'common.students'|trans }}<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#Club">{{ 'common.clubs'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#Options">{{ 'common.options'|trans }}</a>
            </li>
            <li class="nav-item ml-auto">
                {% if app.user %}
                <a class="nav-link" href="/logout">{{ 'common.logout'|trans }}</a>
                {% else %}
                <a class="nav-link" href="/login">{{ 'common.login'|trans }}</a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>
