
    <div class="container">
        {{ form_start(form,{
            'attr': {
                'novalidate': 'novalidate',
                'class': 'form formInfo'
            }
        }) }}

<div class="form-group">
        {{ form_label(form.mail1,'user.mail1'|trans) }}
        {{ form_widget(form.mail1) }}
</div>
    <div class="form-group">
        {{ form_label(form.phone,'user.phone'|trans) }}
        {{ form_widget(form.phone) }}
    </div>
    <div class="form-group">
        {{ form_label(form.option2,'user.option2'|trans) }}
        {{ form_widget(form.option2) }}
    </div>
    <div class="form-group">
        {{ form_label(form.option3,'user.option3'|trans) }}
        {{ form_widget(form.option3) }}
    </div>
    <div class="form-group">
        {{ form_label(form.liste,'user.liste'|trans) }}
        {{ form_widget(form.liste) }}
    </div>
        {{ form_end(form) }}
    </div>
