{% extends 'layout.html.twig' %}
{% block title %}
    {{ 'common.params'|trans }}
{% endblock %}

{% block pageHeader %}
    {{ 'common.params'|trans }}
{% endblock %}

{% block stylesheet %}
    <style type="text/css">
        .footer{
            position: absolute;
            bottom: 0px;
        }

        @media screen and (max-width: 767.98px)
        {
            .footer{
                position: static;
            }
        }
        /* The switch - the box around the slider */
        .switch {
            position: relative;
            display: inline-block;
            width: 60px !important;
            height: 34px;
        }

        /* Hide default HTML checkbox */
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        /* The slider */
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked + .slider {
            background-color: #2196F3;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }
    </style>
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h3>{{ 'params.conf'|trans }}
            <button type="button" class="btn btn-link infopw" data-toggle="tooltip" data-placement="right" title="{{ "params.infoconf"|trans }}">
                <i class="fas fa-info-circle"></i>
            </button>
            </h3>
        </div>
    </div>
    <div class="row col-sm-12 mt-3 mb-4">
        <div class="form-group row col-sm-12 align-self-sm-center">
            <label for="confidentialite" class=" col-sm-5 col-form-label col-lg-3">{{ 'params.confconsigne'|trans }} : </label>
            <div class="col-sm-3" style="transform: translateY(5px);">
                <label class="switch">
                    <input type="checkbox" class="conf" {% if app.user.confidentialite %}checked{% endif %}>
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
        <h3>{{ 'params.passwordtitle'|trans }}
            <button type="button" class="btn btn-link infopw" data-toggle="tooltip" data-placement="right" title="{{ "params.pwconsignes"|trans }}">
                <i class="fas fa-info-circle"></i>
            </button>
        </h3>
        </div>
    </div>
    <div class="alert-pass alert d-none" role="alert">
    </div>
    <div class="row col-sm-12 mt-3 mb-4">
        <form class="form col-sm-8" id="formpw">
            <div class="form-group form-row">
                <label for="password" class=" col-sm-4 col-form-label">{{ 'params.oldpassword'|trans }} : </label>
                <input type="password" class="form-control col-sm-7 col-xs-11" id="pass" placeholder="{{ 'params.oldpassword1'|trans }}">
            </div>

            <div class="form-group form-row">
                <label for="newpassword" class=" col-sm-4 col-form-label">{{ 'params.newpassword'|trans }} : </label>
                <input type="password" class=" newpass form-control col-sm-7" id="newpassword" placeholder="{{ 'params.newpassword'|trans }}">
                <div class="ok1 col-sm-1  col-form-label text-right d-none"></div>
            </div>

            <div class="form-group form-row">
                <label for="confpassword" class=" col-sm-4 col-form-label">{{ 'params.confirmpassword'|trans }} : </label>
                <input type="password" class="confpass form-control col-sm-7" id="confpassword" placeholder="{{ 'params.confirmpassword'|trans }}">
            </div>

            <input type="submit" id="changepassword" class="btn btn-primary float-right" value="{{ 'params.passwordtitle'|trans }}">
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function checkpass(pass){
            let lowerCaseLetters = new RegExp(/[a-z]/i);
            let numbers = new RegExp(/[0-9]/i);
            let upperCaseLetters = new RegExp(/[A-Z]/i);
            return (lowerCaseLetters.test(pass) && numbers.test(pass) && upperCaseLetters.test(pass) && pass.length>8);

        }

        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();


            let good = false;

            $("#newpassword").keyup(function (){
                good= checkpass($(".newpass").val());
                let ok1=$(".ok1");
                ok1.removeClass("d-none");

                if(good){
                    ok1.html('<i class="fas fa-check-circle" style="color:green;"></i>');
                }else{
                    ok1.html('<i class="fas fa-ban" style="color:red;"></i>');
                }
            });

            $("#formpw").on("submit",function (event) {
                event.preventDefault();
                let newpass = $(".newpass");
                let alert1 = $('.alert-pass');
                if(checkpass(newpass.val()) ){
                    if( newpass.val()=== $(".confpass").val()) {
                        let request = $.ajax({
                            method: "POST",
                            url: '{{ path("app.user.ajaxpasswd") }}',
                            data: {
                                password: $("#pass").val()
                                , newpw: newpass.val()
                            },

                        });
                        request.done(function (data) {
                            data = $.parseJSON(data);

                            if (data.message === "OK") {
                                alert1.removeClass('d-none');
                                alert1.addClass("alert-success");
                                alert1.html("{{ "params.success"|trans }}");
                            } else if (data.message === "MAUVAIS") {
                                alert1.removeClass('d-none');
                                alert1.addClass("alert-danger");
                                alert1.html("Erreur : {{ "params.errors.pw"|trans }}");
                            } else if (data.message === "INVALID") {
                                alert1.removeClass('d-none');
                                alert1.addClass("alert-danger");
                                alert1.html("Erreur : {{ "params.errors.invalid"|trans }}");
                            }
                        });
                    }else{
                        alert1.removeClass('d-none');
                        alert1.addClass("alert-danger");
                        alert1.html("Erreur : {{ "params.errors.conf"|trans }}");
                    }
                }else{
                    alert1.removeClass('d-none');
                    alert1.addClass("alert-danger");
                    alert1.html("Erreur : {{ "params.errors.invalid"|trans }}");
                }
                
            });

            $('.conf').change(function () {
                $.ajax("{{ path("app.user.ajaxconf") }}",{
                    success: function (data) {
                        data=$.parseJSON(data);
                        $(".conf").prop('checked', data.conf);
                    }
                })

            })

        });

    </script>
{% endblock %}